/* .image{
    position: relative;
    width: 100%;
    max-width: 600px;
}



.sravs{
   background-color: rgb(169, 201, 213);
   height: 100%;
   width: 100%;
   position:absolute;
   top: 0;
   left: 0;
   max-width: 500px;
   

}
img{
    
    display: block;
    width: 100%;
} */

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
}

img {
    width: 100%;
    display: block;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 background-color: rgba(78, 217, 233, 0.5); 
 
 /* Adjust the color and opacity as needed */
}




/* .sravs{
    height: 350px;
    width: 450px;
    background-color: red;
    position: absolute;
    z-index: 1;
}

.shravs{
    height: 350px;
    width: 350px;
    background-color: rgb(36, 231, 225);
    position: relative;
    z-index: 0;
} */

/* .sravs{
    position: static;
    border: 2px solid red;

 }


 .sravs1{
    position: relative;
    border: 2px solid red;
    top: 00;
    left: 45px;
} */

.sravs2{
    position: absolute;
    top: 0px;
}
.sravs3{
    position:relative;
    top:0px;
    border: 2px solid black;
}


/* .sravs2{
    position: static;
    border: 2px solid red;
}
.sravs3{
    position: static;
    border: 2px solid red;
}
.sravs4{
    position: static;
    border: 2px solid red;
} */ 
